/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2015, 11:06:09 AM
    Author     : Student
*/
@media screen and (max-width: 1024px) {
 .bod{
        background-image: url('../background/dark_embroidery.png');
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 100px;
        color:black;
        padding-top: 20%;
    }
    #box{
        background-image: url('../background/swirl_pattern.png');
        width:400px;
        margin:0 auto;
        background-color: white;
        color: black;
}   
}

@media screen and (max-width:375px){ 
    .bod{
        background-image: url('../background/dark_embroidery.png');
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 100px;
        color:black;
        padding: 50% 2% 30% 2%;
        
    }
    #box{
        background-image: url('../background/swirl_pattern.png');
        width:350px;
        margin:0 auto;
        background-color: white;
        color: black;
    }
}



a{
    text-decoration: none;
    color: black;
    
}
a:hover {
    color: #ADD8E6;
}
